---
layout: default
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

Hi, I'm Vishal. I'm about to start a PhD in quantum information theory at Louisiana State University. I'm an undergraduate from the Indian Institute of Technology, Madras where I majored in engineering physics and graduated in 2017.
<br><br>
I enjoy tennis, books, tea, and solitude. 
<br><br>
I run a weekly mailing list of good longform journalism from around the internet (and the world). I send ten great things to your inbox every Sunday. Have a look here - <a href = "http://tinyletter.com/katskable">Kat's Kable.</a>
