---
layout: default
title: Kat's Kable by Vishal Katariya
description: A weekly newsletter
author: Vishal Katariya
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>


Presenting to you, Kat's Kable. A weekly compilation of great longform journalism from aroud the internet, ranging from topics such as literature and sport to technology and politics. Sent to your inbox every Sunday. Join over 350 well-informed and satisfied readers.  
<br><br>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//tinyletter.us14.list-manage.com/subscribe/post?u=9e5787a6733862a2a0093c94e&amp;id=c95df4058c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <!--<label for="mce-EMAIL">Subscribe here.</label>-->
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e5787a6733862a2a0093c94e_c95df4058c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<br>
Here are some of the recent older editions.
<br><br>
<div class="archive">
  <div class="archive-list">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
  {% for post in site.tags.kable %}
    <div class="archive-list-post" style="text-align: center;">
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}  
        <span class="archive-list-post-title">
          {{ post.title }}
        </span>
        <span class="archive-list-post-date">
          <time>| {{ post.date | date_to_string }}</time>
        </span>
      </a>
    </div>
  {% endfor %}
  {% endif %}
  </div>
</div>
